Azure_Data_Factory_JSON_Files/PL_Source-Raw_Table_adls.json
{
    "name": "PL_Source-Raw_Table_adls",
    "properties": {
        "activities": [
            {
                "name": "Lookup_watermarktable",
                "type": "Lookup",
                "dependsOn": [
                    {
                        "activity": "Copy data_warehouse_file",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.00:10:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "source": {
                        "type": "AzureSqlSource",
                        "sqlReaderQuery": {
                            "value": "SELECT * FROM watermarktable",
                            "type": "Expression"
                        },
                        "queryTimeout": "02:00:00",
                        "partitionOption": "None"
                    },
                    "dataset": {
                        "referenceName": "ASQL_watermarktable",
                        "type": "DatasetReference"
                    },
                    "firstRowOnly": false
                }
            },
            {
                "name": "ACT_ForEach_incremental",
                "type": "ForEach",
                "dependsOn": [
                    {
                        "activity": "Lookup_watermarktable",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "items": {
                        "value": "@activity('Lookup_watermarktable').output.value",
                        "type": "Expression"
                    },
                    "activities": [
                        {
                            "name": "If Condition1",
                            "type": "IfCondition",
                            "dependsOn": [],
                            "userProperties": [],
                            "typeProperties": {
                                "expression": {
                                    "value": "@equals(item().Incremental_stat,'Y')",
                                    "type": "Expression"
                                },
                                "ifFalseActivities": [
                                    {
                                        "name": "Copy data full load tables",
                                        "type": "Copy",
                                        "dependsOn": [],
                                        "policy": {
                                            "timeout": "0.00:10:00",
                                            "retry": 0,
                                            "retryIntervalInSeconds": 30,
                                            "secureOutput": false,
                                            "secureInput": false
                                        },
                                        "userProperties": [],
                                        "typeProperties": {
                                            "source": {
                                                "type": "SqlServerSource",
                                                "sqlReaderQuery": {
                                                    "value": "@concat('SELECT * FROM test.',item().Table_Name)",
                                                    "type": "Expression"
                                                },
                                                "queryTimeout": "02:00:00",
                                                "partitionOption": "None"
                                            },
                                            "sink": {
                                                "type": "DelimitedTextSink",
                                                "storeSettings": {
                                                    "type": "AzureBlobFSWriteSettings"
                                                },
                                                "formatSettings": {
                                                    "type": "DelimitedTextWriteSettings",
                                                    "quoteAllText": true,
                                                    "fileExtension": ".txt"
                                                }
                                            },
                                            "enableStaging": false,
                                            "translator": {
                                                "type": "TabularTranslator",
                                                "typeConversion": true,
                                                "typeConversionSettings": {
                                                    "allowDataTruncation": true,
                                                    "treatBooleanAsNumber": false
                                                }
                                            }
                                        },
                                        "inputs": [
                                            {
                                                "referenceName": "SQL_OP_server_retail",
                                                "type": "DatasetReference"
                                            }
                                        ],
                                        "outputs": [
                                            {
                                                "referenceName": "DS_ADLS_Rawlayer",
                                                "type": "DatasetReference",
                                                "parameters": {
                                                    "name_fromitem": "@item().Table_Name"
                                                }
                                            }
                                        ]
                                    }
                                ],
                                "ifTrueActivities": [
                                    {
                                        "name": "Copy_sql_adls_incremental",
                                        "type": "Copy",
                                        "dependsOn": [
                                            {
                                                "activity": "Lookup_max_value",
                                                "dependencyConditions": [
                                                    "Succeeded"
                                                ]
                                            }
                                        ],
                                        "policy": {
                                            "timeout": "0.00:10:00",
                                            "retry": 0,
                                            "retryIntervalInSeconds": 30,
                                            "secureOutput": false,
                                            "secureInput": false
                                        },
                                        "userProperties": [],
                                        "typeProperties": {
                                            "source": {
                                                "type": "SqlServerSource",
                                                "sqlReaderQuery": {
                                                    "value": "@concat('SELECT * FROM test.', item().Table_Name,' WHERE update_date > ''',\nitem().LastProcessedValue,'''')",
                                                    "type": "Expression"
                                                },
                                                "queryTimeout": "02:00:00",
                                                "partitionOption": "None"
                                            },
                                            "sink": {
                                                "type": "DelimitedTextSink",
                                                "storeSettings": {
                                                    "type": "AzureBlobFSWriteSettings"
                                                },
                                                "formatSettings": {
                                                    "type": "DelimitedTextWriteSettings",
                                                    "quoteAllText": true,
                                                    "fileExtension": ".txt"
                                                }
                                            },
                                            "enableStaging": false,
                                            "translator": {
                                                "type": "TabularTranslator",
                                                "typeConversion": true,
                                                "typeConversionSettings": {
                                                    "allowDataTruncation": true,
                                                    "treatBooleanAsNumber": false
                                                }
                                            }
                                        },
                                        "inputs": [
                                            {
                                                "referenceName": "SQL_OP_server_retail",
                                                "type": "DatasetReference"
                                            }
                                        ],
                                        "outputs": [
                                            {
                                                "referenceName": "DS_ADLS_Rawlayer",
                                                "type": "DatasetReference",
                                                "parameters": {
                                                    "name_fromitem": {
                                                        "value": "@item().Table_Name",
                                                        "type": "Expression"
                                                    }
                                                }
                                            }
                                        ]
                                    },
                                    {
                                        "name": "Lookup_max_value",
                                        "type": "Lookup",
                                        "dependsOn": [],
                                        "policy": {
                                            "timeout": "0.00:10:00",
                                            "retry": 0,
                                            "retryIntervalInSeconds": 30,
                                            "secureOutput": false,
                                            "secureInput": false
                                        },
                                        "userProperties": [],
                                        "typeProperties": {
                                            "source": {
                                                "type": "SqlServerSource",
                                                "sqlReaderQuery": {
                                                    "value": "@concat(\n'SELECT MAX(update_date) AS maxvalue FROM test.',\nitem().Table_Name\n)",
                                                    "type": "Expression"
                                                },
                                                "queryTimeout": "02:00:00",
                                                "partitionOption": "None"
                                            },
                                            "dataset": {
                                                "referenceName": "SQL_OP_server_retail",
                                                "type": "DatasetReference"
                                            }
                                        }
                                    },
                                    {
                                        "name": "Stored procedure update watermark",
                                        "type": "SqlServerStoredProcedure",
                                        "dependsOn": [
                                            {
                                                "activity": "Copy_sql_adls_incremental",
                                                "dependencyConditions": [
                                                    "Succeeded"
                                                ]
                                            }
                                        ],
                                        "policy": {
                                            "timeout": "0.00:10:00",
                                            "retry": 0,
                                            "retryIntervalInSeconds": 30,
                                            "secureOutput": false,
                                            "secureInput": false
                                        },
                                        "userProperties": [],
                                        "typeProperties": {
                                            "storedProcedureName": "[dbo].[UpdateWatermark]",
                                            "storedProcedureParameters": {
                                                "NewWatermark": {
                                                    "value": {
                                                        "value": "@activity('Lookup_max_value').output.firstRow.maxvalue",
                                                        "type": "Expression"
                                                    },
                                                    "type": "DateTime"
                                                },
                                                "TableName": {
                                                    "value": {
                                                        "value": "@item().Table_Name",
                                                        "type": "Expression"
                                                    },
                                                    "type": "String"
                                                }
                                            }
                                        },
                                        "linkedServiceName": {
                                            "referenceName": "LS_DB_ingestion",
                                            "type": "LinkedServiceReference"
                                        }
                                    }
                                ]
                            }
                        }
                    ]
                }
            },
            {
                "name": "ForEach_blob_adls",
                "type": "ForEach",
                "dependsOn": [
                    {
                        "activity": "Lookup_file_config",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "items": {
                        "value": "@activity('Lookup_file_config').output.value",
                        "type": "Expression"
                    },
                    "activities": [
                        {
                            "name": "Copy data_blob_adls",
                            "type": "Copy",
                            "dependsOn": [],
                            "policy": {
                                "timeout": "0.00:10:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "source": {
                                    "type": "DelimitedTextSource",
                                    "storeSettings": {
                                        "type": "AzureBlobStorageReadSettings",
                                        "recursive": true,
                                        "enablePartitionDiscovery": false
                                    },
                                    "formatSettings": {
                                        "type": "DelimitedTextReadSettings"
                                    }
                                },
                                "sink": {
                                    "type": "DelimitedTextSink",
                                    "storeSettings": {
                                        "type": "AzureBlobFSWriteSettings"
                                    },
                                    "formatSettings": {
                                        "type": "DelimitedTextWriteSettings",
                                        "quoteAllText": true,
                                        "fileExtension": ".txt"
                                    }
                                },
                                "enableStaging": false,
                                "translator": {
                                    "type": "TabularTranslator",
                                    "typeConversion": true,
                                    "typeConversionSettings": {
                                        "allowDataTruncation": true,
                                        "treatBooleanAsNumber": false
                                    }
                                }
                            },
                            "inputs": [
                                {
                                    "referenceName": "DS_csv_file_blob",
                                    "type": "DatasetReference",
                                    "parameters": {
                                        "file_name": {
                                            "value": "@item().FileName",
                                            "type": "Expression"
                                        },
                                        "sepreater": {
                                            "value": "@item().Delimiter",
                                            "type": "Expression"
                                        }
                                    }
                                }
                            ],
                            "outputs": [
                                {
                                    "referenceName": "DS_Fileformat_blob_adls",
                                    "type": "DatasetReference",
                                    "parameters": {
                                        "tgt_filename": {
                                            "value": "@item().TargetTable",
                                            "type": "Expression"
                                        }
                                    }
                                }
                            ]
                        }
                    ]
                }
            },
            {
                "name": "Lookup_file_config",
                "type": "Lookup",
                "dependsOn": [],
                "policy": {
                    "timeout": "0.00:10:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "source": {
                        "type": "AzureSqlSource",
                        "sqlReaderQuery": "SELECT * FROM File_Config",
                        "queryTimeout": "02:00:00",
                        "partitionOption": "None"
                    },
                    "dataset": {
                        "referenceName": "ASQL_watermarktable",
                        "type": "DatasetReference"
                    },
                    "firstRowOnly": false
                }
            },
            {
                "name": "Copy data_warehouse_file",
                "description": "not able to figure  out delimiter for warehouse table  ",
                "type": "Copy",
                "dependsOn": [
                    {
                        "activity": "ForEach_blob_adls",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.00:10:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "source": {
                        "type": "DelimitedTextSource",
                        "storeSettings": {
                            "type": "AzureBlobStorageReadSettings",
                            "recursive": true,
                            "enablePartitionDiscovery": false
                        },
                        "formatSettings": {
                            "type": "DelimitedTextReadSettings"
                        }
                    },
                    "sink": {
                        "type": "DelimitedTextSink",
                        "storeSettings": {
                            "type": "AzureBlobFSWriteSettings"
                        },
                        "formatSettings": {
                            "type": "DelimitedTextWriteSettings",
                            "quoteAllText": true,
                            "fileExtension": ".txt"
                        }
                    },
                    "enableStaging": false,
                    "translator": {
                        "type": "TabularTranslator",
                        "typeConversion": true,
                        "typeConversionSettings": {
                            "allowDataTruncation": true,
                            "treatBooleanAsNumber": false
                        }
                    }
                },
                "inputs": [
                    {
                        "referenceName": "DS_file_warehouse_source",
                        "type": "DatasetReference"
                    }
                ],
                "outputs": [
                    {
                        "referenceName": "DS_file_werehouse_sink",
                        "type": "DatasetReference"
                    }
                ]
            }
        ],
        "annotations": [],
        "lastPublishTime": "2026-05-15T07:45:39Z"
    },
    "type": "Microsoft.DataFactory/factories/pipelines"
}
